.categories-row{
    margin-top:2%; margin-bottom:2%
}
.category-card{
    box-shadow: 0px 2px 10px #F8F8F8;
    border-radius: 8px
}
.category-img{
    border-radius: 8px 8px 0 0
}
.category-card-title h5{
    display: inline
}
.category-card-title b{
    font-size: large
}
.top-bid{
    float: right; text-align: right
}
.top-bid p{
    font-size: 17px;
    color: #8A8A8A;
    margin-bottom: 3px
}
.solana-ammount{
    margin-bottom: 3px
}
.solana-ammount span{
    font-size: 18px;
    font-weight: 800;
    margin-left: 7px
}
#ends{
    font-size: 17px;
    color: #8A8A8A;
    margin-top: 30px;
    margin-bottom: 3px
}
.view-all-btn{
    background: #6739B7;
    font-weight: 600;
    padding: 0.5% 2%;
    margin: 1%
}

.category-card:hover{
    cursor: pointer;
}

.view-all-btn:hover{
    background-color: #552f97;
  }