.discover-heading {
  font-family: Poppins;
  font-style: normal;

  text-align: center;
  padding: 5px;
}

@media screen and (min-width: 1050px) {
  .discover-heading {
    margin: 3% 8% 0 14%;
  }
  .discover-text-heading {
    font-size: 68px;
    line-height: 75px;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 893px) {
  .discover-heading {
    margin: 3% 18% 0 18%;
  }
}

@media screen and (max-width: 893px) {
  .discover-heading {
    margin: 5% 5% 0 5%;
  }
  .discover-text-heading {
    font-size: 28px;
    line-height: 40px;
  }
}

.discover-para {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: x-large;
  text-align: center;
}

@media screen and (min-width: 881px) {
  .discover-para {
    font-size: 24px;
    color: #636363;
    margin: 0 25% 20px 25%;
  }
}

@media screen and (max-width: 881px) {
  .discover-para {
    font-size: 18px;
    color: #636363;
    margin: 0 6% 20px 6%;
  }
}

.discover-explore-btn {
  background: #6739b7;
  border-radius: 6px;
  width: 150px;
  height: 42px;
  font-size: 18px;
}
.discover-explore-btn:hover{
  background-color: #552f97;
}
.discover-create-btn {
  background: #ffffff;
  color: black;
  border: 1px solid #6739b7;
  border-radius: 6px;
  width: 150px;
  height: 42px;
  font-size: 18px;
}
.discover-create-btn:hover {
  cursor: not-allowed;
  background-color: #552f97;
}
.learn-more-anchor {
  text-decoration: none;
}
.learn-more-anchor p {
  font-size: large;
  color: #6739b7;
}
