th {
  text-align: center;
  white-space: nowrap;
}
td {
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
}
.table::-webkit-scrollbar {
  display: none;
}
.table {
  overflow-x: scroll;
}
